@model List<DBRepository.Models.Product>
@{
    ViewBag.Title = "Home Page";
}
<style>
    #menu {
        position: absolute;
        top: 100px;
        right: 20%;
    }
</style>
@if (User.Identity.IsAuthenticated)
{
    <body>
        <div id="menu">
            @User.Identity.Name
            @Html.ActionLink("Выйти", "LogOff", "Authentication")
        </div>
    </body>
}
else
{
    <body>
        <div id="menu">
            @Html.ActionLink("Зарегестрироваться", "Register", "Authentication")
            @Html.ActionLink("Войти", "Login", "Authentication")
        </div>
    </body>
}

@foreach (var i in Model)
{
    <div>
        <a href="/Catalog/ProductView?ProductName=@i.ProductName">@i.ProductName</a>
        <img src="~/fonts/@i.ProductImage" height="150" width="150" />
    </div>
}
