@model List<DBRepository.Models.Product>
@{
    ViewBag.Title = "Home Page";
}
<style>
    #menu {
        position: absolute;
        top: 100px;
        right: 0%;
        width: 10%;
    }

    .displayed_item {
        display: flex;
        flex-wrap: wrap;
        width: 90%;
    }

    .item {
        width: 190px;
        height: 250px;
        padding-top: 20px;
        border: double;
    }

    .image {
        height: 150px;
        width: 180px;
        padding-left:1%;
    }

    .link {
        padding-bottom:10px;
        padding-left:10px;
    }
</style>
@if (User.Identity.IsAuthenticated)
{
    <body>
        <div id="menu">
            @User.Identity.Name
            @Html.ActionLink("Выйти", "LogOff", "Authentication")
        </div>
    </body>
}
else
{
    <body>
        <div id="menu">
            @Html.ActionLink("Зарегестрироваться", "Register", "Authentication")
            @Html.ActionLink("Войти", "Login", "Authentication")
        </div>
    </body>
}

<div class="displayed_item">
    @foreach (var i in Model)
    {
        <div class="item">
            <img src="~/fonts/@i.ProductImage" class="image" />
            <a href="/Catalog/ProductView?ProductName=@i.ProductName" class="link">@i.ProductName</a>

        </div>
    }
</div>